@import './variables.scss';
@import './mixins.scss';

.challenge-card-container {
  position: relative;
  background: white;
  border-radius: 20px;
  font-size: $fs-14;
  color: $gray-darker;
  font-weight: $fw-light;
  padding: 20px;
  margin-top:20px;
  transition:all 0.3s ease;
  .challenge-details {
    padding-left: 20px;
    display: inline-block;
    height: 140px;
    vertical-align: top;
    overflow: hidden;
    .challenge-title {
      cursor:pointer;
      font-size: $fs-18;
      font-weight: $fw-regular;
      display: inline-block;
    }
    .challenge-host {
      display: inline-block;
      margin-left: 50px;
      font-weight: $fw-light;
      font-size: $fs-14;
      color: $gray-dark;
      span {
        color: $gray-darker;
      }
    }
    .challenge-type {
      position: absolute;
      right: 15px;
      top: 15px;
      color: white;
      border-radius: 10px;
      padding: 3px 10px;
      font-size: $fs-14;
      font-weight: $fw-light;
      &.upcoming {
        background: $purple-medium;
      }
      &.ongoing {
        background: $green-medium;
      }
      &.past {
        background: $red-dark;
      }
    }
    .challenge-description {
      font-size: $fs-14;
      font-weight: $fw-light;
      display: inline-block;
      max-width: 500px;
      white-space: nowrap;
      margin-top: 10px;
    }
    .challenge-time-remaining {
      display: inline-block;
      font-size: $fs-14;
      font-weight: $fw-light;
      width: 200px;
      white-space: nowrap;
      margin-top: 15px;
    }
    .challenge-time-range {
      display: inline-block;
      font-size: $fs-14;
      font-weight: $fw-light;
      margin-top: 15px;
      img {
        height: 20px;
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: -5px;
      }
    }
    .challenge-participate {
      margin-top: 10px;
      font-size: $fs-14;
      color: $red-light;
    }
    .challenge-labels {
      display: inline-block;
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: $fs-14;
      // .stars {
      //   color: $red-light;
      //   padding: 10px;
      // }
      .stars {
          color:$red-light;;
          padding: 10px;
          &.is-starred {
              i {
              color: yellow;
            }
          }
          i {
            margin-right: 10px;
          }
          &.is-clickable {
            cursor:pointer;
          }
        }
      .challenge-tags {
        color: $gray-darker;
        padding: 10px;
      }
    }
  }
  .challenge-img-div {
    cursor: pointer;
    display: inline-block;
    .challenge-img {
      width: 200px;
      height: 140px;
      display: inline-block;
      position: relative;
    }
  }
  &:hover {
    @include box-shadow(0px, 0px, 5px, 0px, $overlay-light);
  }
}

@include screen-medium {
  .challenge-card-container {
    .challenge-details {
      display: block;
      padding-left: 0px;
      padding-top: 20px;
      height: auto;
      .challenge-labels {
        bottom: unset;
        top: 10px;
      }
    }
  }
}

@include screen-small {
  .challenge-card-container {
    .challenge-img-div {
      display: block;
      text-align: center;
    }
    .challenge-details {
      display: block;
      padding-left: 0px;
      padding-top: 20px;
      height: auto;
      .challenge-host {
        margin-left: 0;
      }
      .challenge-time-range {
        img {
          margin-left: 0;
        }
      }
      .challenge-labels {
        position: relative;
        margin-top: 10px;
      }
      .challenge-participate-div {
        text-align: center;
      }
    }
  }
}
