@import './styles/variables.scss';
@import './styles/mixins.scss';


.contact-us-title {
  color: #4d4d4d;
  line-height: 110%;
  box-sizing: border-box;
}

.rocket-container {
  position: relative;
}

/* media queries for rocket container */
@media only screen and (max-width: $screen-sm-md) {

  .rocket-container {	
    display:none;	
  }

  .contact-us-title {	
    margin-top: 100px;
  }
}


@keyframes rocket {
  0% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.cloud-1 {
  width: 80px;
  position: absolute;
  right: 0;
  top: -1px;
  animation: cloud-one 7s linear infinite;
}
.cloud-1 img {
  width: 100%;
}

@keyframes cloud-one {
  0% {
    top: -100px;
  }
  100% {
    top: 100vh;
  }
}

.cloud-2 {
  width: 100px;
  position: absolute;
  right: 150px;
  top: -140px;
  animation: cloud-two 10s linear infinite;
  animation-delay: 5s;
}
.cloud-2 img {
  width: 100%;
}

@keyframes cloud-two {
  0% {
    top: -140px;
  }
  100% {
    top: 100vh;
  }
}

.cloud-3 {
  width: 100px;
  position: absolute;
  right: -60px;
  top: -120px;
  animation: cloud-three 8s linear infinite;
}
.cloud-3 img {
  width: 100%;
}

@keyframes cloud-three {
  0% {
    top: -120px;
  }
  100% {
    top: 100vh;
  }
}

.cloud-4 {
  width: 100px;
  position: absolute;
  right: 120px;
  top: -120px;
  animation: cloud-four 14s linear infinite;
}
.cloud-4 img {
  width: 100%;
}

@keyframes cloud-four {
  0% {
    top: -80px;
  }
  100% {
    top: 100vh;
  }
}

.bird-anim {
  width: 200px;
  position: absolute;
  right: 0px;
  top: -300px;
  animation: bird 15s linear infinite;
  animation-delay: 4s;
}
.bird-anim img {
  width: 100%;
}

@keyframes bird {
  0% {
    top: -300px;
  }
  100% {
    top: 100vh;
  }
}

.rocket-anim {
  width: 150px;
  padding-right: 50px;
  position: absolute;
  left: 62%;
  z-index: 0;
  /* margin: auto; */
  margin-top: 21vh;
  animation: rocket 3s alternate infinite;
}
.rocket-anim img {
  width: 100%;
}

.small-cloud {
  z-index: 0;
}
