@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.scss';
@import './mixins.scss';

.move-div-to-bottom{
	margin-top: 5%;
}

.head-div{
	display: flex;
	flex-flow: row wrap;
}
.side-bar{
	width: 25%;
	padding: 1% 1.5%;
}

.main-div{
	width: 75%;
	padding: 1% 1%;
}

.header-div{
	padding: 1% 1%;
	text-align: center;
	background:whitesmoke;;
}

.component-container{
	text-align: center;
	border-radius: 5px;
	font-weight:500;
	color: orange;
	font-size: 1.5em;
	background-color: whitesmoke;
	padding-bottom: 6%;
	padding-top: 6%;
	margin-bottom: 6%;
	
}

.element{
	margin-left: 0.5%;
	margin-right: 0.5%;
	color: white;
	font-weight: bold;
}

.component-div{
	padding: 1% 4%;
	background: whitesmoke;
	margin-top: 2%;
}

.bton{
	color: White;
	font-weight: bold;
	padding: 1% 2%;
	border-radius: 8px;
	border: 2px solid black;
	background-color: black;
}

.bton:hover{
	background-color: darkcyan;
}
