@import '../../styles/variables.scss';

.about-container { 
	overflow-x:hidden;
	*{
		color: $font-dark;
	}	
}

.about-content{
	text-align:center;
	img {
		width:90%;
		min-height:150px;
	}
	padding-bottom:100px;
}

.about-title{
	font-size:$fs-24;
	margin-top:50px;
	margin-bottom:30px;
	font-weight:500;
}

.about-content-column{
	text-align:left;
	padding-left:100px;
	padding-right:100px;
}

.about-content-title{
	font-size:$fs-18;
	margin-bottom:30px;
	margin-top:30px;
	font-weight:500;
}

.about-content-body{
	font-size:$fs-16;
}

.about-footer{
	height:100px;
}

@media (max-width: $screen-sm) {
	.about-content-column{
		padding-left:50px;
		padding-right:50px;
	}
}
