@import './variables.scss';
@import './mixins.scss';

.challenge-evaluation-container {
	padding:20px;
}

@include screen-small {
	.challenge-evaluation-container {
	.card {
		margin-left:0;
		margin-right:0;
	}
}
}