@import './variables.scss';
@import './mixins.scss';

.challenge-container {
  
  width:90%;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom:50px;
  .challenge-image-container {
  	z-index:5;
    margin:0 auto;
    width:100%;
    height:300px;
    border-radius:10px;
    background:rgba(0,0,0,0.5);
    position:relative;
    @include box-shadow(0px, 0px, 5px, 0px, $overlay-light);
    .challenge-cover-image {
      border-radius:10px;
      width:100%;
      height:300px;
    }
  }
  .challenge-content-container {
  	position:relative;
  	z-index:10;
  	@include box-shadow(0px, 0px, 15px, 5px, $overlay-light);
  	border-radius:10px;
  	width:70%;
  	margin:0 auto;
  	margin-top:-200px;
  	color:$gray-darker;
  	background:white;
  	.challenge-header {
      text-align:center;
      .challenge-img {
      width: 150px;
      height: 100px;
      display: inline-block;
      position: relative;
      @include box-shadow(0px, 0px, 5px, 0px, $overlay-light);
      margin:10px;
      }
      .challenge-title {
      	text-align: center;
      	margin:10px;
      	.stars {
      	  font-size:$fs-12;
          color:white;
          background:$red-light;
          border-radius:5px;
          padding:5px;
          position: absolute;
	        right: 50px;
	        margin-top:5px;
	        padding: 3px 10px 3px 10px;
          &.is-starred {
              i {
              color: yellow;
            }
          }
          i {
          	margin-right: 10px;
          }
          &.is-clickable {
            cursor:pointer;
          }
      	}
      	.title {
      		font-size: $fs-24;
      		color:$gray-darker;
      	}
      }
      .challenge-host {
      display: inline-block;
      margin: 10px;
      font-weight: $fw-light;
      font-size: $fs-18;
      color: $gray-dark;
      span {
        color: $gray-darker;
      }
    }
  	}  	
  }
}

@include screen-small {
	.challenge-container {
		.challenge-content-container {
			width:90%;
			.challenge-header {
				.challenge-title {
					.stars {
						right: 5px;
						margin-top: -25px;
					}
				}
			}
		}
	}
}
