<div class="challenge-submit-container">
  <div class="inactive" *ngIf="!isActive">
    Sorry, The Challenge is not active!
  </div>
  <div *ngIf="isActive">
    <app-forcelogin *ngIf="!isLoggedIn" [path]="routerPublic.url">
    </app-forcelogin>
    <div *ngIf="isLoggedIn">
      <div class="card card-light submission-guidelines">
        <div class="card-title">
          Sumission Guidelines
        </div>
        <div [innerHTML]="submissionGuidelines" class="content guidelines-text-margin"></div>   
      </div>

      <div *ngIf="isChallengeHost" class="col-md-1 col-sm-1 col-lr-pad">
        <a class="pointer" (click)="editChallengePhase(phase)">
          <i class="fa fa-pencil" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="challenge.is_docker_based" class="ev-md-container ev-card-panel card-bt-margin">
    <div class="row row-lr-margin">
      <div class="col-lg-12 col-md-12 col-sm-12 col-lr-pad">
        <span class="fs-20 fw-light">
          Submission instructions for docker image using evalai-cli
        </span>
        <ol>
          <li class="content">Install evalai-cli<br>
            <code>$ pip install evalai{{cliVersion}}</code>
            <button class="btn ev-btn-dark btn-waves-effect waves-dark grad-btn code-btn"
                (click)="copyTextToClipboard('pip install ')">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard."></i>
            </button>
          </li>
          <li class="content">Add your EvalAI account token to evalai-cli<br>
            <code>$ evalai set_token {{authToken}}</code>
            <button class="btn ev-btn-dark btn-waves-effect waves-dark grad-btn code-btn"
            (click)="copyTextToClipboard('evalai set_token ')">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard."></i>
            </button>
          </li>
          <li class="content">Push docker image to EvalAI docker registry<br>
            <code>$ evalai push &lt;image&gt;:&lt;tag&gt; --phase &lt;phase_name&gt;</code>
            <button class="btn ev-btn-dark btn-waves-effect waves-dark grad-btn code-btn"
                (click)="copyTextToClipboard('evalai push <image>:<tag> --phase <phase_name>')">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard."></i>
            </button>
          </li>
          <li class="content">For more commands, please refer to <a class="text-highlight"
            href="https://evalai-cli.cloudcv.org/" target="_blank">evalai-cli documentation.</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  
  <div *ngIf="challenge.is_docker_based" class="ev-md-container ev-card-panel">
    <span class="fs-20 fw-light">
        Submission limits
    </span><br><br>
    <span class="fs-15">
        <strong class="fw-semibold content">Team name:</strong> {{phaseRemainingSubmissions.participant_team}}
    </span>
    <table align="center" class="centered responsive-table">
        <thead>
          <tr>
            <th class="content">Phase details</th>
            <th class="content">Remaining submissions</th>
            <th class="content">Submission command</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of phaseRemainingSubmissions.phases">
            <td class="content">{{key.name}}
              <br>
              <strong class="text-med-black">Start date: </strong>{{key.start_date | date:'medium'}}
              <br>
              <strong class="text-med-black">End date: </strong>{{key.end_date | date:'medium'}}
            </td>
            <td *ngIf="phaseRemainingSubmissionsFlags[key.id] === 'showSubmissionDetails'" class="content">
              <strong class="fw-semibold">
                  Today:
              </strong>
              {{key.limits.remaining_submissions_today_count}}<br>
              <strong class="fw-semibold">
                  This month:
              </strong>
              {{key.limits.remaining_submissions_this_month_count}}<br>
              <strong class="fw-semibold">
                  Total:
              </strong>
              {{key.limits.remaining_submissions_count}}
            </td>
            <td *ngIf="phaseRemainingSubmissionsFlags[key.id] === 'showClock'" class="content">
              <strong class="fw-semibold">{{key.limits.message}}</strong><br> Next submission will be available in<br>
              <div>
                  <span
                      *ngIf="days!=0">{{phaseRemainingSubmissionsCountdown[key.id].days}}
                      Days, </span>{{phaseRemainingSubmissionsCountdown[key.id].hours}}
                  hours : {{phaseRemainingSubmissionsCountdown[key.id].minutes}} minutes :
                  {{phaseRemainingSubmissionsCountdown[key.id].seconds}} seconds
              </div>
            </td>
            <td *ngIf="phaseRemainingSubmissionsFlags[key.id] === 'maxExceeded'" class="content">
              <strong>{{key.limits.message}}</strong><br>
              <strong>
                  {{key.limits.maxExceededMessage}}
              </strong>
            </td>
            <td>
              <code>$ evalai push &lt;image&gt;:&lt;tag&gt; --phase {{key.slug}}</code>
              <button class="btn ev-btn-dark btn-waves-effect waves-dark grad-btn code-btn"
                  (click)="copyTextToClipboard('evalai push <image>:<tag> --phase key.slug')">
                  <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard."></i>
              </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>

  <div *ngIf="!challenge.is_docker_based" class="ev-card-panel">
    <div class="bottom-card-container bottom-hr-line">
      <strong class="fw-semibold content">
        Please fill the following fields to submit
      </strong>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="exist-team-card">
          <ul>
            <b class="fw-bold content fs-14">Select phase:</b>
            <app-selectphase [phases]="filteredPhases" [phaseSelected]="phaseSelected()"></app-selectphase>
        	<div class="phase-submissions" *ngIf="selectedPhase" >
        		<div>
              <span class="heading">Today's Remaining Submissions: </span>
              <span class="content">{{selectedPhaseSubmissions['remaining_submissions_today_count']}}</span>
            </div>
            <div>
              <span class="heading">Total Remaining Submissions: </span>
              <span class="content">{{selectedPhaseSubmissions['remaining_submissions']}}</span>
            </div>
        	</div>
        </div>
        <div class="card-content">
          <div class="form-challenge-submit" *ngIf="selectedPhaseSubmissions['remaining_submissions_today_count']>0">
          <app-input [isRequired]="true" [label]="'input_file'" [placeholder]="'Upload File *'" [type]="'file'" [theme]="'dark'"  #formsubmit></app-input>
          <app-input [isRequired]="false" [label]="'method_name'" [type]="'text'" [theme]="'dark'" [placeholder]="'Method Name (Optional)'" #formsubmit></app-input>
          <app-input [isRequired]="false" [label]="'method_description'" [type]="'text'" [theme]="'dark'" [placeholder]="'Method Description (Optional)'" #formsubmit></app-input>
          <app-input [isRequired]="false" [label]="'project_url'" [type]="'text'" [theme]="'dark'" [placeholder]="'Project URL (Optional)'" #formsubmit></app-input>
          <app-input [isRequired]="false" [label]="'publication_url'" [type]="'text'" [theme]="'dark'" [placeholder]="'Publication URL (Optional)'" #formsubmit></app-input>
          <div class="submit-btn-div">
            <span class="btn btn-filter selected" (click)="formValidate('formsubmit')">Submit</span>
          </div>
          </div>
          <div *ngIf="selectedPhaseSubmissions['remaining_submissions_today_count']==0 && selectedPhase">
             You have exhausted today's submission limit.
          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>
