<app-header-static></app-header-static>
<div class="container-top home-container align-center white">
  <h1 class="home-section-title">
	  EvalAI
  </h1>
  <app-homemain></app-homemain>
  <!-- <div class="construction">
  	<img src="/assets/images/rocket.gif"/>
  	<span>Page under construction...</span>
  </div> -->
  <div class="main-bg">
    <img src="/assets/images/Header_bg.png" alt="">
  </div>

  <app-partners></app-partners>

  <div class="home-content-temporary">
  </div>

  <app-twitter-feed></app-twitter-feed>
</div>
<app-footer></app-footer>