/*Add global styles here*/

@import './variables.scss';
@import './mixins.scss';
@import './grid.scss';
@import './font.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.go {
  -webkit-animation-fill-mode: forwards;
}

/*Font weights*/

.fw-light {
  font-weight: $fw-light;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semibold {
  font-weight: $fw-semibold;
}

.fw-bold {
  font-weight: $fw-bold;
}






/*Font sizes*/

.fs-12 {
  font-size: $fs-12;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-20 {
  font-size: $fs-20;
}

.fs-22 {
  font-size: $fs-22;
}

.fs-24 {
  font-size: $fs-24;
}

.fs-36 {
  font-size: $fs-36;
}


/*anchors*/

a {
  color: $red-light;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $red-dark;
  }
  &:focus,
  &:active {
    text-decoration: none;
  }
}

a.light-link {
  color: $red-light;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: white;
  }
}

.pointer {
  cursor: pointer;
}


/*list styles*/

ul {
  &.inline-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 15px 20px;
    }
    &.left-list {
      li {
        margin-left: 0;
      }
    }
    &.right-list {
      li {
        margin-right: 0;
      }
    }
  }
  &.right-nav {
    margin-top: 7px;
  }
}


/*alignment*/

.left {
  float: left;
}

.right {
  float: right;
}

.clear-fix {
  clear: both;
}


.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*color*/

.white {
  color: white;
}





/*container*/

.container {
  position: relative;
  z-index: 1;
  padding: 15px 40px;
}

.container-top {
  padding-top: 100px;
}

@include screen-medium {
  .container-top {
    padding-top: 200px;
  }
}

@include screen-small {
  .container-top {
    padding-top: 100px;
  }
}


/*Buttons*/

.btn {
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0 !important;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-nofill {
  padding: 10px 30px 10px 30px;
  border: 1.5px solid white;
  color: white;
  @include box-shadow(0px,
  0px,
  5px,
  0px,
  $overlay-light);
  &:hover {
    background: $gray-light;
    border: 1.5px solid $gray-light;
    color: black;
    @include box-shadow(0px,
    15px,
    20px,
    0px,
    $overlay-light);
  }
}

.btn-fire {
  padding: 13px 33px 13px 33px;
  border: none;
  color: white;
  @include linear-gradient-bg(-90deg,
  $fire-right,
  $fire-left);
  @include box-shadow(0px,
  0px,
  5px,
  0px,
  $overlay-light);
  &:hover {
    @include linear-gradient-bg(-90deg,
    $fire-left,
    $fire-right);
    @include box-shadow(0px,
    15px,
    20px,
    0px,
    $overlay-light);
  }
}

.btn-fill {
  padding: 10px 30px 10px 30px;
  border: 1.5px solid white;
  background: white;
  color: $blue-dark;
  @include box-shadow(0px,
  0px,
  5px,
  0px,
  $overlay-light);
  &:hover {
    @include box-shadow(0px,
    15px,
    20px,
    0px,
    $overlay-light);
    border: 1.5px solid $gray-light;
    background: $gray-light;
    color: black;
  }
}

.btn-filter {
  padding: 10px 30px 10px 30px;
  border: 1.5px solid $red-light;
  color: $gray-darker;
  &.selected {
    color: white;
    background: $red-light;
    &:hover {
      color: white;
    }
  }
  &:hover {
    @include box-shadow(0px,
    0px,
    5px,
    0px,
    $overlay-light);
    color: $red-light;
  }
}


/*Card*/

.card {
  margin: 20px;
  border-radius: 10px;
  font-weight: $fw-light;
  font-size: $fs-16;
  overflow: auto;
  @include box-shadow(0px,
  0px,
  5px,
  0px,
  $overlay-light);
  hr {
    border-top: 1px solid $overlay-light;
    border-bottom: 0px;
  }
  &.card-light {
    color: $gray-darker;
    background: white;
    &.selected {
      @include box-shadow(0px,
      5px,
      10px,
      5px,
      $overlay-light);
      background: $gray-lighter;
    }
  }
  .card-title {
    padding: 30px;
    font-size: $fs-24;
    font-weight: $fw-regular;
    color: $gray-darker;
    overflow: auto;
  }
  .card-content {
    overflow: auto;
    padding: 30px;
    h5 {
      font-size: $fs-18;
    }

    a {
      color: $red-light;
    }
  }
}


/* Table */

.table-light {
  font-size: $fs-16;
  fonr-weight: $fw-light;
  border-top: 1px solid $overlay-light;
  border-spacing: 0px;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid $overlay-light;
    th {
      font-weight: $fw-regular;
      span {
        min-width: 120px;
        text-align: left;
        display: block;
        padding: 15px 10px 15px 0px;
      }
    }
    td {
      vertical-align: middle;
      text-align: left;
      min-width: 50px;
      span {
        min-width: 120px;
        text-align: left;
        display: block;
        padding: 15px 10px 15px 0px;
      }
    }
  }
}



/*Navigation*/

.horizontal-nav {
  white-space: nowrap;
  overflow-x: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding-top: 10px;
  a {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    margin-left: 30px;
    font-size: $fs-16;
    color: $gray-darker;
    font-weight: $fw-light;
    &.selected {
      color: $red-light;
      font-weight: $fw-regular;
      border-bottom: 2px solid $red-light;
    }
  }
}
