@import './variables.scss';
@import './mixins.scss';

.challenge-submissions-container {
	padding:20px;
	overflow:auto;
	color:$gray-darker;
	font-size:$fs-16;
	font-weight:$fw-light;
	position:relative;
    .download-btn-div {
    	position:relative;
    	display:inline-block;
    	float:right;
        vertical-align:bottom;
        top:100px;
	.btn {
      margin-left: 0;
      position:relative;
	}
	.total-submissions {
		font-weight:$fw-regular;
		position:relative;
		margin-top:10px;
		display:block;
	}
    }
    .submission-table-div {
        top:60px;
    	width:100%;
    	position:relative;
    	display:block;
    	padding:30px;
    	padding-top:40px;
    	overflow-x:scroll;
    	max-height:500px;
    .submission-table {
    	tr {
    		th {
    			background:$gray-lighter;
                color:$gray-dark;
    			
    		}
    	}
    }
}
}