<div class="challenge-submissions-container">
  <app-selectphase [phases]="filteredPhases" [phaseSelected]="phaseSelected()"></app-selectphase>

  <div *ngIf="!selectedPhase">
    Please select a phase.
  </div>
  <div *ngIf="selectedPhase">
    <div class="download-btn-div">
    	<span (click)='downloadSubmission()' class="btn btn-filter selected">DOWNLOAD</span><br>
      <span class="total-submissions"> Total submissions done: {{submissionCount}}</span>
    </div>
    <div class="submission-table-div" *ngIf="submissions.length > 0">
    <table class="submission-table table-light">
      <thead>
        <tr>
          <th><span>Team Name</span></th>
          <th><span>Method Name</span></th>
          <th><span>Method Description</span></th>
          <th><span>Project Url</span></th>
          <th><span>Publication Url</span> </th>
          <th><span>Status</span></th>
          <th><span>Execution Time (sec.)</span></th>
          <th><span>Submitted File</span></th>
          <th><span>Result File</span></th>
          <th><span>Stdout File</span></th>
          <th><span>Stderr File</span></th>
          <th><span>Submitted At</span></th>
          <th *ngIf="selectedPhase['leaderboard_public']"><span>Show on Leaderboard</span></th>
          <th><span>Edit</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of submissions" class="result-val">
          <td><span>{{key.participant_team_name}}</span></td>
          <td *ngIf="key.method_name != ''"><span>{{key.method_name}}</span></td>
          <td *ngIf="key.method_name == ''"><span>None</span></td>
          <td *ngIf="key.method_description != ''"><span>{{key.method_description}}</span></td>
          <td *ngIf="key.method_description == ''"><span>None</span></td>
          <td *ngIf="key.project_url != ''"><span>{{key.project_url}}</span></td>
          <td *ngIf="key.project_url == ''"><span>None</span></td>
          <td *ngIf="key.publication_url != ''"><span>{{key.publication_url}}</span></td>
          <td *ngIf="key.publication_url == ''"><span>None</span></td>
          <td class="val-style capitalize red-dark"><span>{{key.status}}</span></td>
          <td class="align-center"><span>{{key.execution_time}}</span></td>
          <td><span><a href="{{key.input_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></span></td>
          <td *ngIf="key.submission_result_file"><span><a href="{{key.submission_result_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></span></td>
          <td *ngIf="!key.submission_result_file"><span>None</span></td>
          <td *ngIf="key.stdout_file"><span><a href="{{key.stdout_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></span></td>
          <td *ngIf="!key.stdout_file"><span>None</span></td>
          <td *ngIf="key.stderr_file"><span><a href="{{key.stderr_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></span></td>
          <td *ngIf="!key.stderr_file"><span>None</span></td>
          <td><span>{{key.submitted_at | date:'medium'}}</span></td>
          <td *ngIf="selectedPhase['leaderboard_public']" class="center"><span>
            <input [checked]="key.is_public" *ngIf="key.status == 'finished'" type="checkbox" id="isPublic{{ key.id }}" (change)="changeSubmissionVisibility(key.id, key.is_public)" class="cbx hidden"/>
            <label for="isPublic{{ key.id }}" class="cbx-label"></label>
            <span *ngIf="key.status !== 'finished'" class="center"> N/A </span></span>
          </td>
          <td><span><a><i class="fas fa-pencil-alt"></i></a></span></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
