@import './variables.scss';
@import './mixins.scss';

.ev-md-container {
  padding-bottom: 0px;
  .phase-title {
    margin-bottom: 20px;
  }
  .submissions-empty {
    margin: 20px;
    text-align: center;
  }
  .download-btn-div {
    position: relative;
    display: block;
    margin-left: 10px;
    padding-bottom: 20px;

    .btn {
      margin-left: 0;
      position: relative;
    }
    .total-submissions {
      font-weight: $fw-regular;
      position: relative;
      margin-left:20px;
      padding:10px;
      border-radius:5px;
      display: inline-block;
      background: $gray-lighter;
    }
  }
  .submission-table-div {
    top: 20px;
    width: 100%;
    position: relative;
    display: block;
    padding: 30px;
    padding-top: 40px;
    overflow-x: scroll;
    max-height: 500px;
    text-align: center;
    .submission-table {
      width: 100%;
      tr {
        &.highlight {
          background: $red-lighter;
        }
        th {
          background: $gray-lighter;
          color: $gray-dark;
        }
      }
    }
  }
}

.add-line-height {
	line-height: 51px;
}

.result-wrn {
  margin-top: 15px;
  margin-bottom: 20px;
}

table {
  width: 160% !important;
}

.marker {
  margin-right: 10px;
  font-size: 20px;
}

.pad-top {
  padding-top: 40px;
  padding-bottom: 10px;
  .show-on-leaderboard {
    color: rgb(169, 169, 169);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}

.cbx-label {
  margin-left: 55px;
  margin-right: 55px;
}

.cbx:checked ~ .cbx-label {
  background: #4CAF50;
}
