@import './styles/variables.scss';
@import './styles/mixins.scss';

.faq-container {
  * {
    color: $gray-darker;
    transition: all 0.2s ease;
    font-weight:$fw-light;
    font-size:$fs-16;
  }
  .faq-nav-container {
    margin-top: 30px;
    top: 10%;
    bottom: 0;
    overflow-y: scroll;
    
  position: relative;
  position: -webkit-sticky;
  position: sticky;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-left: 20px;
        border-left: 5px solid rgba(0, 0, 0, 0);
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        color: $gray-darker;
        font-size: $fs-16;
        font-weight: $fw-regular;

        &:hover {
          border-left: 5px solid $gray-darker;
        }
      }

      li.scroll-selected {
        color: $red-light;
        border-left: 5px solid $red-light;
      }
    }
  }
  .faq-content {
    margin-top: 30px;
    padding-right: 50px;
    a {
      color: $red-light;
      font-weight: $fw-regular;
    }
    .scroll-to-top {
      position: fixed;
      bottom: 2%;
      right: 2%;
      height: 50px;
      cursor: pointer;
      z-index: 4 !important;
      &:hover {
        height: 55px;
      }
    }
    .faq-title {
      font-size: $fs-24;
      color: $gray-darker;
      font-weight: $fw-semibold;
    }
    .faq-section-content {
      font-size: $fs-16;
      margin-top: 20px;
      line-height: 20px;
      letter-spacing: 0.5px;
      ul {
        list-style-type: circle;
      }
    }
    .faq-section-title {
      font-size: $fs-18;
      font-weight: $fw-regular;
      margin-top: 20px;
      &.scroll-selected {
        color: $red-light;
      }
    }
  }
}


@include screen-small-medium {
  .faq-nav-container,
  .faq-empty-container {
    display: none;
  }
}

@include screen-medium {
  .faq-nav-container {
    top: 20%;
  }
}
