<app-header-static></app-header-static>
<div class="container-top container faq-container row">
    <div class="faq-nav-container col-lg-2 col-md-3 col-sm-5 col-xs-5">
      <ul>
        <li class="faq-nav scroll-selected" (click)="scroll($event);">
          What is EvalAI?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          What kind of challenges does EvalAI support?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          Can I run EvalAI on my private server?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          How to host a challenge on EvalAI?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          How to participate in a challenge in EvalAI?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          What is the best way to contact EvalAI team?
        </li>
        <li class="faq-nav" (click)="scroll($event);">
          I am interested in contributing. Where should I start from?
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-1 col-xs-1 faq-empty-container">&nbsp;</div>
    <div class="faq-content col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <img class="scroll-to-top" src="assets/images/arrow_scroll.png" (click)="scrollToTop();" />
      <div class="faq-title" id="faq-policy-title">FAQ</div>
  </div>
  </div>
<app-footer></app-footer>