<div class="col s12 m6 offset-m3 left">
  <ul class="left">
    <li class="ev-horiz-list"><a [routerLink]="loginRoute" class="light-link" routerLinkActive="active-auth"
        (click)="authService.resetForm()">Log In</a></li>
    <li class="ev-horiz-list"><a [routerLink]="signupRoute" class="dark-link" routerLinkActive="active-auth"
        (click)="authService.resetForm()">Sign Up</a></li>
  </ul>
</div>
<div class="col s12 m6 offset-m3" (keyup.enter)="formValidate()">
  <!-- login form -->
  <!-- username -->
  <div class="input-field align-left">
    <app-input [inputStyle]="'dark-autofill'" [type]="'text'" [label]="'name'" [placeholder]="'Username*'"
      [isRequired]="true" [icon]="'fa fa-user'" #signupForm></app-input>
  </div>
  <!-- email -->
  <div class="input-field align-left">
    <app-input [inputStyle]="'dark-autofill'" [type]="'email'" [label]="'email'" [placeholder]="'Email'"
      [isRequired]="true" [icon]="'fa fa-envelope'" #signupForm>
    </app-input>
  </div>
  <!-- password -->
  <div class="input-field align-left">
    <app-input [inputStyle]="'dark-autofill'" [type]="'password'" [label]="'password'"
      [placeholder]="'Password (Minimum 8 Characters) *'" [isRequired]="true" [icon]="'fa fa-eye pointer'" #signupForm
      #password>
    </app-input>
  </div>
  <!-- confirm password -->
  <div class="input-field align-left">
    <app-input [inputStyle]="'dark-autofill'" [type]="'password'" [label]="'confirm_password'"
      [placeholder]="'Confirm Password *'" [isRequired]="true" [validate]="globalService.validateTwoPassword"
      [fieldToCompare]="password.value" #signupForm></app-input>
  </div>
  <!-- submit button -->
  <div class="align-left reg-control">
    <button class="waves-effect waves-dark btn ev-btn-dark grad-btn grad-btn-dark w-300" type="submit" value="Submit"
      (click)="formValidate()">
      Sign Up
    </button>
  </div>
  <div *ngIf="authService.isFormError" class="text-highlight align-left"> {{authService.FormError}}</div>
  <div>
    <p class="text-light-gray">
      <span class="text-med-black">Already have an account? </span> <a class="highlight-link"
        [routerLink]="loginRoute">Log
        In</a>
    </p>
  </div>
</div>