@import "styles/variables";

.dashboard-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100% - 223px);
  float: right;
}

.dashboard-content {
  flex: 1;
  min-height: 100vh;
}

.web-container {
  background-color: #fafafa;
  padding-top: 70px;
  overflow-x: hidden;
  &.center {
    float: none;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
}

/*media queries*/

@media only screen and (max-width: $med-screen) {
  .dashboard-flex {
    width: 100%;
  }
}
