@import './variables.scss';
@import './mixins.scss';
  .pro_inf{
	margin-inline-end: -60%;
 	margin-block-start: -22%;
  }
#auth_tok {
	margin-left: -50%;
}
#prov_id {
	margin-left: -50%;
}
#prof_img{
	position: center;
	margin-top: 5%;
}
#update_prof{
	margin-block-start: -4%;
	margin-left: 60%;
	
}
#pass_chn{
	margin-block-start: -7%;
	margin-right: -5%;
	
}
.card{
	overflow: hidden;
}
.mid-container {
	background-color: #fafafa;
	.profile-container {
		.card {
			background: $gray-lighter;
			padding-bottom:30px;
			width:50%;
			margin:0 auto;
		}
		font-size:$fs-16;
		font-weight: $fw-light;
		color:$gray-dark;
		margin:30px;
		.dark {
			color:$gray-darker;
		}
		.highlight {
			color: $yellow;
		}
		.item {
			margin-bottom: 13px;
			text-align: center;
		}
		.item button {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.profile-photo {
			height:80px;
			border-radius:50%;
			@include box-shadow(0px, 0px, 5px, 0px, $overlay-light);
		}
		.user-details {
			margin-top: 14px;
			margin-bottom: 14px;
		}
		.change-password {
			margin-top: 25px;
			margin-bottom: 14px;
			.change-password-text {
				margin-right: 20px;
				margin-bottom: 12px;
			}
		}
		.modal-container {
			&.hidden {
				display:none;
			}
		}
		.copy {
			background: none !important;
			border: none !important;
			color: $red-light !important;
			font-size: $fs-24 !important;
			i {
				margin-left:-20px;
			}
			&:hover {
				box-shadow:none !important;
				color: $red-medium;
			}
		}
	}
}
.modal-container{
	.modal-card { 
		.title {
			margin-bottom: 20px;
		}
		.code-btn {
			margin-top: 15px;
		}
	}
}
@include screen-medium {
	.profile-container {
		.card {
			width:70%;
		}
	}
}
@include screen-small {
	.profile-container {
		.card {
			width:90%;
		}
	}
}
.profile-sidebar {
    position: fixed;
    z-index: 9;
    font-size: 14px;
    /*padding:0px  30px;*/
    min-width: 200px;
    min-height: 100vh;
    background-color: $dust-gray;
    top: 0;
    left: -200px;
    text-align: center;
    color: #fff;
    /*transition:all 0.2s ease-in-out;*/
    ul {
        margin-top: 20px;
        text-align: left;
        li {
            padding: 10px 0px;
        }
    }
    input[type="checkbox"] + label {
        font-size: 12px;
    }
}
.token-width {
    width: 400px;
}
.profile-edit-group {
    margin-top: 60px;
}

.pass-title {
    margin-bottom: 30px;
}

.back-profile-group {
    margin-top: 60px;
}

img.profile-pic {
    height: 80px;
}

.user-info {
    li {
        margin-bottom: 36px;
    }
    margin-bottom: 20px;
}
.user-urls {
    li {
        margin-bottom: 33px;
    }
    margin-bottom: 20px;
}

