@import './variables.scss';
@import './mixins.scss';

.challenge-overview-container {
	padding:40px;
	overflow:auto;
	.content {
		font-weight:$fw-light;
		font-size:$fs-16;
		color:$gray-darker;
		a {
			color:$red-light;
		}
		i {
			color: $gray-darker;
		}
	}
}