@import "styles/font";

/*variable file*/
@import "styles/variables";

/*base style files*/
@import "basic";




/*dynamic header styles*/

//#ev-dropdown li a:hover {
//  background-color: white;
//  color: $dark-gray;
//}


/* footer styles */



/* header styles */



//.med-link {
//  i {
//    height: auto;
//  }
//}


/*dashboard logo*/





/*landing page css*/

/*main intor*/



/*simple header*/



.is-line {
  display: block;
  height: 2px;
  width: 50px;
  background: $highlight;
  margin-top: 22px;
}


/*space man*/

//.spaceman {
//  width: 200px;
//  position: absolute;
//  right: 0px;
//  top: 100px;
//  animation: spaceman-anim 4s alternate linear infinite;
//  img {
//    width: 100%;
//  }
//}
//
//@keyframes spaceman-anim {
//  0% {
//    transform: rotate(0deg);
//    top: 100px;
//  }
//  30% {
//    transform: rotate(20deg);
//    top: 150px;
//  }
//  70% {
//    transform: rotate(0deg);
//    top: 190px;
//  }
//  100% {
//    transform: rotate(-10deg);
//    top: 240px;
//  }
//}

/*media queries*/

@media only screen and (max-width: $med-screen) {
  .head {
    margin-top: 40px;
  }
  .sim-header {
    width: 100%;
  }
}


//#fb-logo{
//  height: 175px;
//  width: 160px;
//  padding-bottom:30%;
//}
//
//#mapillary-logo{
//  height:70px;
//  width:210px;
//}
//
//#umbc-logo{
//  height:70px;
//  width:180px;
//}

//#draper-logo {
//  height: 110px;
//  padding-bottom:5%;
//}
//
//#ebay-logo{
//  padding-top:5%;
//  height: 80px;
//  width:160px;
//}
//
//#iitm-logo{
//  height:100px;
//  width:100px;
//}
//
//#adelaide-logo{
//  height:80px;
//  width:180px;
//}
//
//#pitt-logo{
//  height:80px;
//  width:180px;
//}





/*web page css*/



//#sidenav-overlay {
//  z-index: 1;
//}
//
//.light-dark-container {
//}





