@import './variables.scss';
@import './mixins.scss';

.challenge-card {
    .bottom-card-container {
        .settings-section {
            padding: 20px 30px;
            border: 1px solid;
            border-radius: 5px;
            min-height: 50px;
            color: rgb(101, 97, 97);
        }
    }
}

@include screen-medium {
    .settings-section {
        padding: 10px 20px !important;
    }
}

@include screen-small-medium {
    .settings-section {
        padding: 10px 10px !important;
    }
}

@include screen-small {
    .settings-section {
        padding: 10px 5px !important;
    }
}

textarea {
    min-height: 2rem !important;
}

.display-inline {
    display: flex;
    align-items: center;
    .li-mr {
        margin-right: 20px;
    }
    .settings-value {
        font-family: "Atlas Grotesk", sans-serif;
        color: rgb(169, 169, 169);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
    }
}
