<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="header_container" style="background-image: url('assets/images/Header/Header_bg.png');">
	<div class = "row">
		<div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left" style="text-align: center;">
			<img src="assets/images/Header/EvalAI_favicon.png" class = "logo_header"/>
		</div>
		<div class = "col-lg-6 col-md-7 col-sm-8 col-xs-12 pull-right" >
		<div style = "margin-top:5%;height:40px;">
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Challenges </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> News </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Forum </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Join Us </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 " style = "text-align: center;"><img src="assets/images/Header/dots.png" style="height:40px;transform: rotate(90deg);text-align: center;" /></span>

				<span class = "col-lg-2 col-md-2 col-sm-2 col-xs-12 center btn_nofill" >Sign Up</span>
				<span class = "col-lg-2 col-md-2 col-sm-2 col-xs-12 center btn_fill" > Log In</span>
		</div>
			
		</div>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span style="font-size:60px;color:#fff;font-weight:semibold;padding:10px;">EvalAI</span>
	</div>
	<br>
	<div class="row" style = "text-align:center">
		<span style="font-size:30px;color:#fff;font-weight:semibold;padding:10px;">Evaluating state of the art in AI</span>
	</div>
	<br>
	<div class="row" style = "text-align:center">
		<span style="font-size:20px;color:#efefef;font-weight:semibold;font-style: italic; padding:15px;">EvalAI is an open-source web platform for organizing and participating in AI challenges</span>
	</div>
	<br><br>
	<div class="row" style = "text-align:center">
		<span class="col-lg-4 col-md-3 col-sm-2 col-xs-12">&nbsp;</span>
		<span class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 btn_nofill" style="padding:10px 10px 10px 10px;">Host A Challenge</span>
		<div class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 btn_fire">Participate</div>
	</div>
	<br><br>
	<div class="row" style = "text-align:center">
	<span class="col-lg-4 col-md-3 col-sm-2 col-xs-12">&nbsp;</span>

		<img class="col-lg-4 col-md-6 col-sm-8 col-xs-12 combinedvideo" src="assets/images/Header/videosample.png" />
	</div>
	<br><br><br>
</div>
<div class = "partner_container" style="background-image: url('assets/images/Partner\ orgs/Partner_org_BG.png');">
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span style="font-size:60px;color:#273e54;font-weight:semibold;padding:10px;margin-top:10px;">Who uses EvalAI?</span>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span style="font-size:30px;color:#273e54;font-weight:regular;padding:10px;margin-top:10px;">Several partner organizations already host their challenges on EvalAI</span>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center;overflow-x: scroll;overflow-y: hidden;">
	<table style="width:100%;">
		<tr>
			<td> 
				<img class ="partner_img" src = "assets/images/Partner Organisations/facebook.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/cmu.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/google.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/stanford.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/georgiatech.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/mapillary.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/virginiatech.png"/>
			</td>
		</tr>
	</table>
	<br><br><br><br><br>
</div>


<h1 style = "display:none">
  Welcome to <span class="fs-16">{{title}}</span>
</h1>
