<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!--HEADER SECTION START-->

<div class="header_container" style="background-image: url('assets/images/Header/Header_bg.png');">
	<div class = "row">
		<div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left" style="text-align: center;">
			<img src="assets/images/Header/EvalAI_favicon.png" class = "logo_header"/>
		</div>
		<div class = "col-lg-6 col-md-7 col-sm-8 col-xs-12 pull-right" >
		<div style = "margin-top:5%;height:40px;">
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Challenges </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> News </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Forum </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 navlinks"> Join Us </span>
				<span class = "col-lg-1 col-md-2 col-sm-2 col-xs-12 " style = "text-align: center;"><img src="assets/images/Header/dots.png" style="height:40px;transform: rotate(90deg);text-align: center;" /></span>

				<span class = "col-lg-2 col-md-2 col-sm-2 col-xs-12 center btn_nofill" >Sign Up</span>
				<span class = "col-lg-2 col-md-2 col-sm-2 col-xs-12 center btn_fill" > Log In</span>
		</div>
			
		</div>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span class="section_title" style="color:#fff;">EvalAI</span>
	</div>
	<br>
	<div class="row" style = "text-align:center">
		<span style="font-size:30px;color:#fff;font-weight:semibold;padding:10px;">{{tagline}}</span>
	</div>
	<br>
	<div class="row" style = "text-align:center">
		<span style="font-size:20px;color:#efefef;font-weight:semibold;font-style: italic; padding:15px;">EvalAI is an open-source web platform for organizing and participating in AI challenges</span>
	</div>
	<br><br>
	<div class="row" style = "text-align:center">
		<span class="col-lg-4 col-md-3 col-sm-2 col-xs-12">&nbsp;</span>
		<span class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 btn_nofill" style="padding:10px 10px 10px 10px;">Host A Challenge</span>
		<div class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 btn_fire">Participate</div>
	</div>
	<br><br>
	<div class="row" style = "text-align:center">
	<span class="col-lg-4 col-md-3 col-sm-2 col-xs-12">&nbsp;</span>

		<img class="col-lg-4 col-md-6 col-sm-8 col-xs-12 combinedvideo" src="assets/images/Header/videosample.png" />
	</div>
	<br><br><br>
</div>
<!--HEADER SECTION END-->

<!--PARTNERS SECTION START-->

<div class = "partner_container" style="background-image: url('assets/images/Partner\ orgs/Partner_org_BG.png');">
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span class="section_title">Who uses EvalAI?</span>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center">
		<span style="font-size:30px;color:#273e54;font-weight:regular;padding:10px;margin-top:10px;">Several partner organizations already host their challenges on EvalAI</span>
	</div>
	<br><br><br>
	<div class="row" style = "text-align:center;overflow-x: scroll;overflow-y: hidden;">
	<table style="width:100%;">
		<tr>
			<td> 
				<img class ="partner_img" src = "assets/images/Partner Organisations/facebook.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/cmu.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/google.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/stanford.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/georgiatech.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/mapillary.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/Partner Organisations/virginiatech.png"/>
			</td>
		</tr>
	</table>
	<br><br><br><br><br>
</div>
<!--PARTNERS SECTION END-->

<!--RULES SECTION START-->
<div class = "rules_container">
<div class="row">
<br><br>
<div class = "col-lg-1">&nbsp;</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style = "background-image: url('assets/images/Rules/Rules_BG Ellipse.png');background-size: cover;text-align: center;">
<br><br><br>
	<img src="assets/images/Rules/Laptop.png" class="rule_laptop"/>
<br><br><br><br>
</div>
<div class = "col-lg-5 col-md-5 col-sm-5 col-xs-12">
 <div class="row">
 	<span><img class="rule_img" src= "assets/images/Rules/Host_icon.png"/></span>
 	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
 	<span class="rule_title">HOST</span>
 </div>
 <div class = "row">
 	<div class="rule_text">
 	{{ipsum}}
 	</div>
 </div>

 <div class="row">
 	<span><img class="rule_img" src= "assets/images/Rules/Participate.png"/></span>
 	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
 	<span class="rule_title">PARTICIPATE</span>
 </div>
 <div class = "row">
 	<div class="rule_text">
 	{{ipsum}}
 	</div>
 </div>

 <div class="row">
 	<span><img class="rule_img" src= "assets/images/Rules/submissions.png"/></span>
 	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
 	<span class="rule_title">MAKE SUBMISSIONS</span>
 </div>
 <div class = "row">
 	<div class="rule_text">
 	{{ipsum}}
 	</div>
 </div>

 <div class="row">
 	<span><img class="rule_img" src= "assets/images/Rules/achieve icon.png"/></span>
 	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
 	<span class="rule_title">ACHIEVE STATE-OF-THE-ART RESULTS</span>
 </div>
 <div class = "row">
 	<div class="rule_text">
 	{{ipsum}}
 	</div>
 </div>
 <br><br>
 <div class = "row" style="text-align: center;">
 	<span class = "btn_fire" style="padding-left: 10%;padding-right: 10%">Participate</span>
 </div>
 <br><br><br><br>
</div>
</div>
</div>
<!--RULES SECTION END-->

<!--CHALLENGES SECTION START-->
<div class = "challenges_container">
<div class="row" style="text-align:center;">
	<span class="section_title">Featured Challenges</span>
</div>
<br><br><br>
<div class="row" style="text-align: center;">
		<div class="challenge_split">
			<img class="challenge_img" src="assets/images/Featured challenges/Challenge_1.png"/>
			<div class="challenge_title">
				<span>Lorem ipsum dolor sit amet</span><br><br>
				<span class="challenge_link">View more ></span>
			</div>
		</div>
		<div class="challenge_split">
			<img class="challenge_img" src="assets/images/Featured challenges/Challenge_2.png"/>
			<div class="challenge_title">
				<span>VQA Real Image Challenge (Open-Ended) 2017</span><br><br>
				<span class="challenge_link">View more ></span>
			</div>
		</div>
		<div class="challenge_split">
			<img class="challenge_img" src="assets/images/Featured challenges/Challenge_3.png"/>
			<div class="challenge_title">
				<span>Lorem ipsum dolor sit amet</span><br><br>
				<span class="challenge_link">View more ></span>
			</div>
		</div>
</div>
<br><br><br>
</div>
<!--CHALLENGES SECTION END-->


<!--TESTIMONIAL SECTION START-->
<div class = "testimonial_container" style="background-image:url('assets/images/Testimonial/Testimonial.png');">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="width:70%;margin-left:15%;">
<span style="font-size:30px;color:#fff;font-weight:regular;font-style: italic; padding:15px;">{{ipsum}}</span></div>
<br><br><br><br><br><br>
<span style="font-size:20px;color:#fff;font-weight:bold; padding:15px;">- Lorem</span>
<br><br><br><br><br><br><br><br><br><br><br><br>
<img src="assets/images/Testimonial/arrow.png" class="testimonial_arrow_left" />
<img src="assets/images/Testimonial/arrow.png" class="testimonial_arrow_right"/>
<img src="assets/images/Testimonial/quotes.png" class="testimonial_quotes"/>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<!--TESTIMONIAL SECTION END-->

<!--FOOTER SECTION START-->
<div class = "footer_container" style="background-image:url('assets/images/Footer/Footer.png');">


<br><br><br><br><br><br><br><br><br><br>
<div class="row">
	<span class="section_title" style="color:#efefef;">Stay Notified</span>
</div>
<br><br>
<div class="row">
	<div style="width:70%;margin-left: 15%">
		<span style="font-size:20px;color:#fff;font-weight:regular;padding:10px;margin-top:10px;">{{ipsum}}</span>
	</div>
</div>
<br><br><br>
<div class="row" style = "text-align:center">
		<span class="col-lg-4 col-md-3 col-sm-2 col-xs-12">&nbsp;</span>
		<input class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 input_fill" style="padding:10px 10px 10px 10px;" placeholder="Name@company.com"/>
		<div class = "col-lg-2 col-md-3 col-sm-4 col-xs-12 btn_fire">Get Notifications</div>
</div>
<br><br><br><br><br><br>
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left">
	<div class="row" style="text-align:left;margin-left:10%;"><img src="assets/images/evalai_logo_light.png" style="height:50px;"/></div>
	<div class="row" class="footer_text">{{tagline}}</div>
	<br>
	<div class="row" class="footer_text">📍College of computing, Second Floor, 801 Atlantic Drive, Atlanta, GA 30332-0280</div>
	<br><br>
	<div class="row" class="footer_text">
	© CloudCV 2018
	</div>
	<br>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
	<table width="100%">
		<tr> 
			<td>About Us</td>
			<td>Contact Us</td>
		</tr>
		<tr> 
			<td>Our Team</td>
			<td>Get Involved</td>
		</tr>
		<tr> 
			<td>Privacy Policy</td>
			<td>CloudCV Website</td>
		</tr>
	</table>
	<br><br>
	<div style="text-align:left;margin-left:10%;">
	<img src="assets/images/github.png" style="height:50px; filter: invert(100%);cursor:pointer;"/>
	&nbsp;&nbsp;&nbsp;
	<img src="assets/images/twitter.png" style="height:50px;cursor:pointer;"/></div>
</div>
</div>
</div>

<!--FOOTER SECTION END-->


<h1 style = "display:none">
  Welcome to <span class="fs-16">{{title}}</span>
</h1>
