<div class = "partner_container">
	<div class="partner-bg">
	<img class="bg" src="/assets/images/partners/Partner_org_BG.png" alt="">
	</div>
	<div class="centerall first">
		<span class="section_title dark_text fs-36">Who uses EvalAI?</span>
	</div>
	<div class="centerall partner_text" >
		<span class="dark_text fs-18" >Several partner organizations already host their challenges on EvalAI</span>
	</div>

	<div id="carousel_cont">
		<div
			ng2-carouselamos
			class="slides-wrapper specify-width"
			[items]="images"
			[width]="1500"
			[$prev]="prev"
			[$next]="next"
			[$item]="item">
	</div>
		<ng-template #prev>
		<img src="assets/sharp-arrow_back_ios-24px.svg" id="left" />
		</ng-template>
		<ng-template #next>
		<img src="assets/sharp-arrow_forward_ios-24px.svg" id="right" />
		</ng-template>
		<ng-template #item let-item let-i="index">
			<div class="items">
			<img class ="logos" src="{{ item.name }}">
			</div>
		</ng-template>
	</div>

</div>