<div class="challenge-submissions-container">
  <app-selectphase [phases]="phases" [phaseSelected]="phaseSelected()"></app-selectphase>

  <div *ngIf="!selectedPhase">
    Please select a phase.
  </div>
  <div *ngIf="selectedPhase">
    <div class="download-btn-div">
    	<span (click)='downloadSubmission()' class="btn btn-filter selected">DOWNLOAD</span>
    </div>
    <!-- <table class="submission-table">
      <thead>
        <tr>
          <th data-field="team">Team Name</th>
          <th data-field="method-name">Method Name</th>
          <th data-field="method-description">Method Description</th>
          <th data-field="project-url">Project Url</th>
          <th data-field="publication-url">Publication Url </th>
          <th class="align-center" data-field="status">Status</th>
          <th data-field="status">Execution Time (sec.)</th>
          <th data-field="file">Submitted File</th>
          <th data-field="file">Result File</th>
          <th data-field="file">Stdout File</th>
          <th data-field="file">Stderr File</th>
          <th class="align-center" data-field="file">Submitted At</th>
          <th class="align-center" ng-if="challenge.currentPhaseLeaderboardPublic" data-field="file">Show on Leaderboard</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in challenge.submissionResult.results" class="result-val">
          <td>{{key.participant_team_name}}</td>
          <td ng-if="key.method_name != ''">{{key.method_name}}</td>
          <td ng-if="key.method_name == ''"> None </td>
          <td ng-if="key.method_description != ''">{{key.method_description}}</td>
          <td ng-if="key.method_description == ''"> None </td>
          <td ng-if="key.project_url != ''">{{key.project_url}}</td>
          <td ng-if="key.project_url == ''"> None </td>
          <td ng-if="key.publication_url != ''">{{key.publication_url}}</td>
          <td ng-if="key.publication_url == ''"> None </td>
          <td class="val-style capitalize" ng-class="key.status">{{key.status}}</td>
          <td class="align-center">{{key.execution_time}}</td>
          <td><a href="{{key.input_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td ng-if="key.submission_result_file"><a href="{{key.submission_result_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td ng-if="!key.submission_result_file">None</td>
          <td ng-if="key.stdout_file"><a href="{{key.stdout_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td ng-if="!key.stdout_file">None</td>
          <td ng-if="key.stderr_file"><a href="{{key.stderr_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td ng-if="!key.stderr_file">None</td>
          <td>{{key.submitted_at | date:'medium'}}</td>
          <td ng-if="challenge.currentPhaseLeaderboardPublic" class="center">
            <input ng-checked="key.is_public" ng-if="key.status == 'finished'" ng-model="challenge.submissionVisibility[key.id]" type="checkbox" id="isPublic{{ key.id }}" ng-change="challenge.changeSubmissionVisibility(key.id)" />
            <label for="isPublic{{ key.id }}"></label>
            <span ng-if="key.status !== 'finished'" class="center"> N/A </span>
          </td>
          <td><a class="pointer" ng-click="challenge.showMdDialog($event, key.id)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
