<div class="challenge-submissions-container">
  <app-selectphase [phases]="phases" [phaseSelected]="phaseSelected()"></app-selectphase>

  <div *ngIf="!selectedPhase">
    Please select a phase.
  </div>
  <div *ngIf="selectedPhase">
    <div class="download-btn-div">
    	<span (click)='downloadSubmission()' class="btn btn-filter selected">DOWNLOAD</span><br>
      <span class="total-submissions"> Total submissions done: {{submissionCount}}</span>
    </div>
    <div class="submission-table-div" *ngIf="submissions.length > 0">
    <table class="submission-table">
      <thead>
        <tr>
          <th><span>Team Name</span></th>
          <th><span>Method Name</span></th>
          <th><span>Method Description</span></th>
          <th><span>Project Url</span></th>
          <th><span>Publication Url</span> </th>
          <th><span>Status</span></th>
          <th><span>Execution Time (sec.)</span></th>
          <th><span>Submitted File</span></th>
          <th><span>Result File</span></th>
          <th><span>Stdout File</span></th>
          <th><span>Stderr File</span></th>
          <th><span>Submitted At</span></th>
          <th *ngIf="selectedPhase['leaderboard_public']"><span>Show on Leaderboard</span></th>
          <th><span>Edit</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of submissions" class="result-val">
          <td>{{key.participant_team_name}}</td>
          <td *ngIf="key.method_name != ''">{{key.method_name}}</td>
          <td *ngIf="key.method_name == ''"> None </td>
          <td *ngIf="key.method_description != ''">{{key.method_description}}</td>
          <td *ngIf="key.method_description == ''"> None </td>
          <td *ngIf="key.project_url != ''">{{key.project_url}}</td>
          <td *ngIf="key.project_url == ''"> None </td>
          <td *ngIf="key.publication_url != ''">{{key.publication_url}}</td>
          <td *ngIf="key.publication_url == ''"> None </td>
          <td class="val-style capitalize">{{key.status}}</td>
          <td class="align-center">{{key.execution_time}}</td>
          <td><a href="{{key.input_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td *ngIf="key.submission_result_file"><a href="{{key.submission_result_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
          <td *ngIf="!key.submission_result_file">None</td>
          <td *ngIf="key.stdout_file"><a href="{{key.stdout_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link"></i> Link</a></td>
          <td *ngIf="!key.stdout_file">None</td>
          <td *ngIf="key.stderr_file"><a href="{{key.stderr_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link"></i> Link</a></td>
          <td *ngIf="!key.stderr_file">None</td>
          <td>{{key.submitted_at | date:'medium'}}</td>
          <td *ngIf="challenge.currentPhaseLeaderboardPublic" class="center">
            <input [checked]="key.is_public" *ngIf="key.status == 'finished'" type="checkbox" id="isPublic{{ key.id }}" (change)="changeSubmissionVisibility(key.id)" />
            <label for="isPublic{{ key.id }}"></label>
            <span *ngIf="key.status !== 'finished'" class="center"> N/A </span>
          </td>
          <td><a class="pointer"><i class="fas fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
