<div class="challenge-leaderboard-container">
  <div class="phase-select-div">
    <app-selectphase [phases]="filteredPhaseSplits" [phaseSelected]="phaseSplitSelected()"></app-selectphase>
  </div>
  <div class="leaderboard-table-div">
    <div *ngIf="leaderboard.length <= 0" class="leaderboard-empty">
      <!-- <img src="assets/images/sadcloud.png" /> -->
      <i class="fas fa-clipboard" aria-hidden="true"></i> No Results..
    </div>
    <table class="table-light leaderboard-table" *ngIf="leaderboard.length > 0">
      <thead>
        <tr>
          <td>
            <a href="#" (click)="sortColumn='rank';reverseSort = !reverseSort;">Rank<span class="fa-stack fa-1x"><i class="fas fa-sort-asc fa-stack-1x" [class.dark]="reverseSort && sortColumn == 'rank'"></i><i class="fas fa-sort-desc fa-stack-1x" [class.dark]="!reverseSort && sortColumn == 'rank'"></i></span></a>
          </td>
          <td><a href="#" (click)="sortColumn='string';reverseSort=!reverseSort;">Participant Team<span class="fa-stack fa-1x"><i class="fas fa-sort-asc fa-stack-1x" [class.dark]="reverseSort && sortColumn == 'string'"></i><i class="fas fa-sort-desc fa-stack-1x" [class.dark]="!reverseSort && sortColumn == 'string'"></i></span></a>
          </td>
          <td *ngFor="let key of leaderboard[0].leaderboard__schema.labels;index as i" [attr.data-index]="i"><a href="#" (click)="sortColumn = 'number';columnIndexSort = i;reverseSort = !reverseSort;">{{key}}<span class="fa-stack fa-1x"><i class="fas fa-sort-asc fa-stack-1x" [class.dark]="reverseSort && sortColumn == 'number' && columnIndexSort == i"></i><i class="fas fa-sort-desc fa-stack-1x" [class.dark]="!reverseSort && sortColumn == 'number' && columnIndexSort == i"></i></span></a>
          </td>
          <td>
            <a href="#" (click)="sortColumn='date';reverseSort = !reverseSort">Last Submission at<span class="fa-stack fa-1x"><i class="fa fas-sort-asc fa-stack-1x" [class.dark]="reverseSort && sortColumn == 'date' && columnIndexSort == i"></i>
            <i class="fa fas-sort-desc fa-stack-1x" [class.dark]="!reverseSort && sortColumn == 'date' && columnIndexSort == i"></i>
            </span>
            </a>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of submissions">
          <td>{{initial_ranking[key.submission__participant_team__team_name]}}</td>
          <td>{{key.submission__participant_team__team_name}}</td>
          <td *ngFor="let score of key.result">{{score | number : 2}}</td>
          <td>{{ key.submission__submitted_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
